<%-include('../_layouts/adminheader')%>
<h2 class="page-title">Edit a <%=title%></h2>
<br><br>
<form class="form-group" method="post" action="/admin/pages/edit-page/<%=slug%>">
    <div class="form-group">
        <p>
            <label for="">Title</label>
            <input class="form-control" type="text" name="title" value="<%=title%>" placeholder="Title"> 
        </p>
        <p>
            <label for="">Slug</label>
            <input class="form-control" type="text" name="slug" value="<%=slug%>" placeholder="Slug"> 
        </p>
        <p>
            <label for="">Content</label>
            <textarea id="ta" class="form-control" name="content" cols="30" rows="10" placeholder="Content"><%=content%></textarea>
        </p>
    </div>
    <input type="hidden" name="id" value="<%=id%>">
    <button class="btn btn-success">Subbmit</button>
</form>

<%-include('../_layouts/adminfooter')%>